.chartArea {
    width: 100%;
    /* height: auto; */
    min-height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.chart-with-control {
    height: 600px;
}

.chart-without-control {
    height: 450px;
}